<div *ngIf="userRecipes$ | async">
    <mat-card class="card" *ngFor="let userRecipe of (userRecipes$ | async); index as i"
        (click)="viewRecipeDetails(userRecipe)">
        <mat-card-content>
            <div class="grid">
                <div class="card-main">
                    <mat-checkbox (change)="updateCheckedRecipes($event, userRecipe)">
                        {{ userRecipe.name }}
                    </mat-checkbox>
                </div>
                <div class="buttons">
                    <button mat-stroked-button color="accent" (click)="editRecipe(userRecipe)">
                        <i class="material-icons md-48">edit</i>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>