<h4>
    Recipes
</h4>
<div *ngIf="userRecipes$ | async">
    <mat-card class="card" *ngFor="let userRecipe of (userRecipes$ | async); index as i"
        (click)="viewRecipeDetails(userRecipe)">
        <mat-card-content>
            <mat-checkbox (change)="updateCheckedRecipes($event, userRecipe)">
                {{ userRecipe.name }}
            </mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="addRecipe(userRecipe)">
                <i class="material-icons md-48">add</i>
            </button>
            <button mat-stroked-button color="accent" (click)="editRecipe(userRecipe)">
                <i class="material-icons md-48">edit</i>
            </button>
            <button mat-stroked-button color="accent" (click)="deleteRecipes()">
                <i class="material-icons md-48">delete</i>
            </button>
        </mat-card-actions>

    </mat-card>
</div>