<div *ngIf="selectedRecipe">
    <mat-card class="card" *ngFor="let ingredient of selectedRecipe.ingredients; index as i">
        <mat-card-content>
            <div class="grid">
                <div class="card-main">
                    <mat-checkbox>
                        {{ ingredient.name }}
                    </mat-checkbox>
                </div>
                <div class="buttons">
                    <button mat-stroked-button color="accent" (click)="editIngredient(ingredient)">
                        <i class="material-icons md-48">edit</i>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>