<h4>
    Ingredients
</h4>
<div *ngIf="selectedRecipe">
    <mat-card class="card" *ngFor="let ingredient of selectedRecipe.ingredients; index as i">
        <mat-card-content>
            <mat-checkbox>
                {{ ingredient.name }}
            </mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="accent" (click)="addIngredient()">
                <i class="material-icons md-48">add</i>
            </button>
            <button mat-stroked-button color="accent" (click)="editIngredient(ingredient)">
                <i class="material-icons md-48">edit</i>
            </button>
            <button mat-stroked-button color="accent" (click)="deleteIngredient(ingredient)">
                <i class="material-icons md-48">delete</i>
            </button>
        </mat-card-actions>
    </mat-card>
</div>