<p *ngIf="auth0Service.user$ | async as auth0user">
    <mat-toolbar color="primary">
        <span>
            Hello {{ auth0user.name }}
        </span>
        <span class="spacer"></span>
        <button mat-stroked-button (click)="logout()">
            <mat-icon>
                flight_takeoff
            </mat-icon>
            Log out
        </button>
    </mat-toolbar>
</p>

<div class="css-grid-container">
    <div>
        <app-recipes [userRecipes$]="userRecipes$" (selectedRecipeEvent)="displaySelectedRecipe($event)"
            (editRecipeEvent)="editRecipe($event)" (deleteRecipesEvent)="deleteRecipes($event)">
        </app-recipes>
        <button mat-stroked-button color="accent" (click)="addRecipe()">
            New
            <i class="material-icons md-48">add</i>
        </button>
    </div>
    <div>
        <app-recipe-details [selectedRecipe]="selectedRecipe" (editIngredientEvent)="editIngredient($event)"
            (deleteIngredientEvent)="deleteIngredients($event)" (deleteIngredientsEvent)="deleteIngredients($event)">
        </app-recipe-details>
        <button mat-stroked-button color="accent">
            New
            <i class="material-icons md-48">add</i>
        </button>
    </div>
</div>