<p *ngIf="auth0Service.user$ | async as auth0user">
    <mat-toolbar color="primary">
        <span>
            Hello {{ auth0user.name }}
        </span>
        <span class="spacer"></span>
        <button mat-stroked-button (click)="logout()">
            <mat-icon>
                flight_takeoff
            </mat-icon>
            Log out
        </button>
    </mat-toolbar>
</p>

<div class="grid">
    <div class="recipes">
        <h4>
            Recipes
        </h4>
        <button mat-stroked-button color="accent" (click)="addRecipe()">
            <i class="material-icons md-48">add</i>
        </button>
        <button mat-stroked-button color="accent" (click)="deleteRecipes()">
            <i class="material-icons md-48">delete</i>
        </button>
        <app-recipes [userRecipes$]="userRecipes$" (selectedRecipeEvent)="displaySelectedRecipe($event)"
            (editRecipeEvent)="editRecipe($event)" (updateCheckedRecipesEvent)="updateCheckedRecipes($event)">
        </app-recipes>
    </div>
    <div class="recipe-details">
        <h4>
            Ingredients
        </h4>
        <button mat-stroked-button color="accent">
            <i class="material-icons md-48">add</i>
        </button>
        <button mat-stroked-button color="accent">
            <i class="material-icons md-48">delete</i>
        </button>
        <app-recipe-details [selectedRecipe]="selectedRecipe" (editIngredientEvent)="editIngredient($event)"
            (deleteIngredientEvent)="deleteIngredients($event)" (deleteIngredientsEvent)="deleteIngredients($event)">
        </app-recipe-details>
    </div>
</div>