.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(75px, auto);
    padding: 1%;
    margin: 1%;
}

.recipes {
    grid-column: 1 / 2;
}

.recipe-details {
    grid-column: 2 / 3;
}